@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Toggle Button */
	.switch {
		position: relative;
		display: inline-block;
		width: 44px;
		height: 22px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #cfd8ef;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	.slider:before {
		position: absolute;
		content: "";
		height: 17px;
		width: 17px;
		left: 4px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}

	input:checked + .slider {
		background-color: #7aeadf;
	}
	input:focus + .slider {
		box-shadow: 0 0 1px #7aeadf;
	}
	input:checked + .slider:before {
		-webkit-transform: translateX(19px);
		-ms-transform: translateX(19px);
		transform: translateX(19px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	/* End Toggle Button */

	/* Being Range Slider */

	/* === range theme and appearance === */
	input[type="range"] {
		font-size: 1.5rem;
	}

	input[type="range"] {
		color: #10d8c4;
		--thumb-height: 1.75em;
		--track-height: 0.25em;
		--track-color: #ecf0fb;
		--brightness-hover: 100%;
		--brightness-down: 100%;
		--clip-edges: 0.125em;
	}

	/* === range commons === */
	input[type="range"] {
		position: relative;
		background: #fff0;
		overflow: hidden;
	}

	input[type="range"]:hover {
		cursor: pointer;
	}

	input[type="range"]:disabled {
		filter: grayscale(1);
		opacity: 0.3;
		cursor: not-allowed;
	}

	/* === WebKit specific styles === */
	input[type="range"],
	input[type="range"]::-webkit-slider-runnable-track,
	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		transition: all ease 100ms;
		height: var(--thumb-height);
	}

	input[type="range"]::-webkit-slider-runnable-track,
	input[type="range"]::-webkit-slider-thumb {
		position: relative;
	}

	input[type="range"]::-webkit-slider-thumb {
		--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
		--clip-top: calc(
			(var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px
		);
		--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
		--clip-further: calc(100% + 1px);
		--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
			100vmax currentColor;

		width: var(--thumb-width, var(--thumb-height));
		/* background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
			50% calc(var(--track-height) + 1px); */
		background: url("../assets/images/icon-slider.svg") no-repeat center;
		background-color: currentColor;
		box-shadow: var(--box-fill);
		border-radius: var(--thumb-width, var(--thumb-height));
		filter: brightness(100%);
		clip-path: polygon(
			100% -1px,
			var(--clip-edges) -1px,
			0 var(--clip-top),
			-100vmax var(--clip-top),
			-100vmax var(--clip-bottom),
			0 var(--clip-bottom),
			var(--clip-edges) 100%,
			var(--clip-further) var(--clip-further)
		);
	}

	input[type="range"]:hover::-webkit-slider-thumb {
		filter: brightness(var(--brightness-hover));
		cursor: pointer;
		color: #24aea1;
	}

	input[type="range"]:active::-webkit-slider-thumb {
		filter: brightness(var(--brightness-down));
		cursor: grab;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		background: linear-gradient(var(--track-color) 0 0) scroll no-repeat
			center / 100% calc(var(--track-height) + 1px);
		border-radius: 9999px;
	}

	input[type="range"]:disabled::-webkit-slider-thumb {
		cursor: not-allowed;
	}

	/* === Firefox specific styles === */
	input[type="range"],
	input[type="range"]::-moz-range-track,
	input[type="range"]::-moz-range-thumb {
		appearance: none;
		transition: all ease 100ms;
		height: var(--thumb-height);
	}

	input[type="range"]::-moz-range-track,
	input[type="range"]::-moz-range-thumb,
	input[type="range"]::-moz-range-progress {
		background: #fff0;
	}

	input[type="range"]::-moz-range-thumb {
		background: url("../assets/images/icon-slider.svg") no-repeat center;
		background-color: currentColor;
		border: 0;
		width: var(--thumb-width, var(--thumb-height));
		border-radius: var(--thumb-width, var(--thumb-height));
		cursor: pointer;
	}

	input[type="range"]:active::-moz-range-thumb {
		cursor: pointer;
	}

	input[type="range"]::-moz-range-track {
		width: 100%;
		background: var(--track-color);
	}

	input[type="range"]::-moz-range-progress {
		appearance: none;
		background: currentColor;
		transition-delay: 30ms;
	}

	input[type="range"]::-moz-range-track,
	input[type="range"]::-moz-range-progress {
		height: calc(var(--track-height) + 1px);
		border-radius: var(--track-height);
	}

	input[type="range"]::-moz-range-thumb,
	input[type="range"]::-moz-range-progress {
		filter: brightness(100%);
	}

	input[type="range"]:hover::-moz-range-thumb,
	input[type="range"]:hover::-moz-range-progress {
		filter: brightness(var(--brightness-hover));
	}

	input[type="range"]:active::-moz-range-thumb,
	input[type="range"]:active::-moz-range-progress {
		filter: brightness(var(--brightness-down));
	}

	input[type="range"]:disabled::-moz-range-thumb {
		cursor: not-allowed;
	}
}
/* End Range Slider */
